<div class="text">
    <h1 >Intro text</h1>
    <p>
        <img src="{{ imageUrl }}" class="responsive"> 
            Our trainers aim to educate, motivate, and inspire you to live healthier. So no matter what your fitness goals are, 
            our private personal training and nutrition planning service offers a customized solution to help you get there.
            Our nutrition plans are nothing like the fad diets you see in the news and hear about from friends. We focus on learning 
            how your body responds to different foods and creating a plan based on straight-forward wholesome nutrition.<br><br>
            The Benefits of Our Private Personal Training and Nutrition Programs :<br>
            1) Get workouts customized specifically for your body and experience level<br>
            2) Reduce the risk of injury with the supervision of an expert<br>
            3) Have your progress tracked with real data that shows you how far you’ve come<br>
            4) Get in shape without having to share a crowded gym<br><br>
    
            Our group fitness classes in Dartmouth, MA offer a unique blend of resistance-based training and high-intensity cardio.
            We designed this program specifically for weight loss and muscle toning. Don’t worry about not being able to keep up;
            our group fitness program is open to people of all ability levels. Get your sweat on with us!
    </p>  
    <button matTooltip="Upcoming Feature" class="btn btn-lg btn-block" (click)="navpage()">Apply For Trainer</button>
</div>
